################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/annuaire_entreprise_front/src/assets/styles/output.css
